node_modules/
package-lock.json
*.log

# Reference material — copyrighted, not ours to redistribute. See docs/SOURCES.md
# for where to obtain each of these.
the-global-dilemma-guns-or-butter/
*.zip
docs/gb-manual.pdf
docs/gb-manual.txt
docs/crawford-ch24-guns-and-butter.txt
web/dist/
